# Dongle interface
pyserial==3.5

# Cryptography for encrypted files
cffi==2.0.0
cryptography==46.0.3
pycparser==3.0

# Cryptography for wmbus telegrams
pycryptodome==3.23.0

# Excel import
et_xmlfile==2.0.0
openpyxl==3.1.5

# Server
fastapi
uvicorn[standard]
python-multipart
slowapi
cachetools>=7.0

# HTTP requests for remote uploads
requests==2.33.1

# Email
schedule==1.2.2
