[Unit]
Description=selbst-ableser wMBus-API (Port 8181)
After=network.target

[Service]
WorkingDirectory=/opt/selbst-ableser
ExecStart=/opt/selbst-ableser/venv/bin/uvicorn wmbus:app --host 0.0.0.0 --port 8181  --workers 1
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
User=selbst
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/opt/selbst-ableser

[Install]
WantedBy=multi-user.target
